.filters {
  display: flex;
  justify-content: center;
  width: 40rem;
  gap: 3rem;
  align-items: center;
}
.range {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
label {
  width: 8rem;
}
